<!DOCTYPE <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        #main_container {
            text-align: center;
            margin: 50px;
        }

        #inside_container {
            display: inline-block;
        }   
        #letter_input {
            width: 50px;
        }
        #display {
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            width: 8em;
        }
    </style>
</head>
<body>
    <div id="main_container">
        <div id="inside_container">
            <h1>Hangman</h1>
            <div id="hangman_display">
                <pre id="display"><%= display_hangman %></pre>
            </div>
            <p>
                <%= display_letters %>
            </p>
            <p>Remaining guesses: <%= 7 - incorrect_guesses %>. Incorrect letters: <br><%= incorrect_letters.join(", ") %> </p>
            <form>
                <input type="text" minlength="1" maxlength="1" id="letter_input" name="letter_input">
                <input type="Submit" value="Enter Letter">
            </form>
            <p>
                <pre><%= win_or_lose %></pre>
            </p>

            <form method="post" action="/newGame">
                <input type="submit" value="New Game">
            </form>
        </div>
    </div>
</body>
</html>